
.agenda-image {
    height: 175vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button {
    color: #C63893;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'PT Sans', sans-serif !important;
  }

  .carousel {
    color: #C63893 !important;
    font-size: 45 !important;
    background-color: rgba(52, 52, 52, .9);
    font-family: 'PT Sans', sans-serif !important;
  }

.h4 {
  font-family: 'PT Sans', sans-serif !important;
}

.typetext {
  font-family: 'PT Sans', sans-serif !important;
}

.agenda {
  font-family: 'PT Sans', sans-serif !important;
}

.Blocks{
  font-family: 'PT Sans', sans-serif !important;
}