.background-image {
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button {
    color: #C63893;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
    