.App {
  font-family: 'PT Sans', sans-serif !important;
}
.Blocks {
  margin-top: 10vh;
  font-family: 'PT Sans', sans-serif !important;
}
 
.button {
  color: #18BDCE;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'PT Sans', sans-serif !important;
}
  
.home-image {
  height: 215vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Welcome {
  color:  #C63893;
  background-color: rgba(52, 52, 52, .9);
  font-family: 'PT Sans', sans-serif !important;
  position: absolute;
}

.regButton {
  color: #C63893;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'PT Sans', sans-serif !important;
}
