.Blocks {
  margin-top: 10vh;
}
 
.button {
  color: #18BDCE;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  
.home-image {
  height: 210vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Welcome {
  color:  #C63893;
  background-color: rgba(52, 52, 52, .9);
}

.regButton {
  color: #C63893;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
