@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.socialIcon {
    font-size: 10px;
    color:  "#F06000";
}
.smoothscroll {
    color:  "#F06000";
    background-color: "#333";
    
}
.nav{
    background-color: "#333";
}

.bar {
    color:  "#F06000";
    background-color: "#333";
}



.navbar-brand {
    text-transform: none;
    color: #18BDCE !important;
    padding:10px;
    font-family: 'PT Sans', sans-serif !important;
}

.button {
    color: #C63893 !important;
    font-size: medium !important;
    background-color: #333 !important;
    /* margin-left: 90vw !important; */
    font-family: 'PT Sans', sans-serif !important;
  
}

.menu {
    color: #C63893 !important;
    font-size: medium !important;
    background-color: #333 !important;
    font-family: 'PT Sans', sans-serif !important;
}